@model MVC_CRUD_scaffolding.Models.Category
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Category</h2>

@using (Html.BeginForm("Edit", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.CategoryId)

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryName)
        @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
}




